/* 
    Document   : style
    Created on : Oct 24, 2013, 2:46:23 PM
    Author     : AlpeSheetal
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    font-family: 'Arial';
}
